// 支持es4语法
var util = {
  contains: function (arr, item) {
    return (arr.indexOf(item)!=-1)
  },

  sort: function(arr) {
      return arr.sort()
  },

  matchOver: function(s1, s2, fifth) {
    var score = fifth ? 15 : 25
    return (s1 >= score || s2 >= score) && (s1 - s2 >= 2 || s2 - s1 >= 2);
  },
}
// 导出对外暴露的属性
module.exports = {
  contains: util.contains,
  sort: util.sort,
  matchOver: util.matchOver,
}