@color_main_orange: #FF9900;
@color_main_blue: #336699;
@color_main_yellow: #FFFFCC;
@color_main_grey: #E5E5E5;

.iconmedium {
  text-align: center;
  font-size: 20px;
}

.color1 {
  color: @color_main_orange;
}

.color2 {
  color: @color_main_yellow;
}

.color3 {
  color: @color_main_blue;
}

.bgcolor1 {
  background-color: @color_main_orange;
  color: white;
}

.bgcolor2 {
  background-color: @color_main_yellow;
}

.bgcolor3 {
  background-color: @color_main_blue;
}

.bgcolorwin {
  background-color: @color_main_orange;
}

.bgcolorloss {
  background-color: green;
}

.textwhite {
  color: white;
}

.block1 {
  color: @color_main_blue;
  background-color: @color_main_yellow;
  border: 1px solid @color_main_grey;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: 1px solid @color_main_grey;
  border-left-style: none;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px
}


.container {
  color: @color_main_blue;
  background-color: @color_main_yellow;
  border-radius: 8px;
  border-top-style: 1px solid grey;
  border-right-style: none;
  border-bottom-style: 1px solid grey;
  border-left-style: none;
  margin: 10px;
  padding: 5px;
}

.normal_item {
  border: 1px solid @color_main_grey;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: 1px solid @color_main_grey;
  border-left-style: none;
  padding: 5px;
  margin: 5px;
}

.first_item {
  margin: 5px;
  padding: 5px;
}

.last_item {
  margin: 5px;
  padding: 5px;
}


.settingblock {
  background-color: @color_main_yellow;
  border-radius: 8px;
  border: 1px solid grey;
  margin: 5px;
  padding: 10px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
}

.settingblock_row {
  display: flex; 
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
}
